/** 
    Colors
*/
$white: #FFFFFF;
$darkGray: #AEAAAA;
$gray: #6B6B6B;
$mediumPurple: #6584F1;

$purpleLight: #A5B9FF;


/** 
    Fonts paths
*/
$fontRegularPath: 'fonts/google-sans/GoogleSans-Regular';
$fontRegularItalicPath: 'fonts/google-sans/GoogleSans-Italic';
$fontMediumPath: 'fonts/google-sans/GoogleSans-Medium';
$fontMediumItalicPath: 'fonts/google-sans/GoogleSans-MediumItalic';
$fontBoldPath: 'fonts/google-sans/GoogleSans-Bold';
$fontBoldItalicPath: 'fonts/google-sans/GoogleSans-BoldItalic';


/** 
    Font
*/ 

$fontFamily: 'google-sans';


/**
    Title sizes
*/
$titleLarge: 64px;
$titleBig: 36px;
$titleMedium: 24px;


/**
    Text sizes
*/
$baseFontSize: 16px;

$textBigSize: 18px;
$textSmallSize: 16px;
$textTinySize: 14px;


/**
    Container
*/
$containerWidth: 1440px;
$containerGaps: 20px;

/**
    Border radius 
*/
$borderRadius: 14px;

/** 
    Animation timing
*/
$fastAnimation: 100ms;
$mediumAnimation: 200ms;
$normalAnimation: 300ms;
$slowAnimation: 500ms;
