/* 
    Colors
*/
$darkGray: #AEAAAA;
$gray: #6B6B6B;
$mediumPurple: #6584F1;

/* 
    Fonts paths
*/
$fontRegularPath: 'fonts/google-sans/GoogleSans-Regular.ttf';
$fontRegularItalicPath: 'fonts/google-sans/GoogleSans-Italic.ttf';
$fontMediumPath: 'fonts/google-sans/GoogleSans-Medium.ttf';
$fontMediumItalicPath: 'fonts/google-sans/GoogleSans-MediumItalic.ttf';
$fontBoldPath: 'fonts/google-sans/GoogleSans-Bold.ttf';
$fontBoldItalicPath: 'fonts/google-sans/GoogleSans-BoldItalic.ttf';


/* 
    Fonts names
*/
$fontRegular: 'GSR'; // Regular
$fontRegularItalic: 'GSRI'; // Regular italic
$fontMedium: 'GSM'; // Medium
$fontMediumItalic: 'GSMI'; // Medium italic
$fontBold: 'GSB'; // Bold 
$fontBoldItalic: 'GSBI'; // Bold italic


/* 
    Typography
*/
$baseFontSize: 16px;

$textBigSize: 18px;
$textSmallSize: 16px;
$textTinySize: 14px;
